{% extends 'base_layout.html' %}
{% load static %}


{% block content %}
    <div class="box has-background-warning-light" style="height: 88vh; overflow: scroll">
        <div class="columns is-vcentered is-multiline">
            <div class="column">
                <div class="title has-text-centered" style="font-family: 'Comic Sans MS'; margin-top: 10px">Мои друзья</div>
                <style>
                    .grid-container {
                        display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                        grid-gap: 5px;
                    }

                    .user-card {
                        background-color: lightsalmon;
                        margin: 20px;
                        border-radius: 5px;
                        box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.1);
                        height: 400px;
                    }

                    .user-card h3 {
                        margin-top: 0;
                    }

                    .box {
                        padding: 3px;
                        margin-right: 5px;
                        margin-left: 5px;
                    }

                    img {
                        border-radius: 5px;
                    }
                    .buttons   {
                        margin-left: 10px;
                        padding: 3px;
                    }
                    .button  {
                        padding-bottom: 3px;
                    }

                </style>
                <div class="grid-container">

                    <div class="user-card">
                        <h3 class="subtitle has-text-centered" style="color: white">Name LastName</h3>
                        <div class="box">
                            <figure class="image-1">
                                <img class="placeholder" src="{% static 'uploads/photo_2023-09-04 21.22.03.jpeg' %}">
                            </figure>
                        </div>

                        <p class="has-text-centered" style="color: white">Lorem ipsum dolor sit amet.</p>
                        <br>

                        <div class="buttons">
                            <div class="button is-small is-danger" id="1">
                                <ion-icon name="mail-open-outline"></ion-icon>
                            </div>
                            <div class="button is-small is-danger">
                                <ion-icon name="bookmarks-outline"></ion-icon>
                            </div>
                            <div class="button is-small is-danger">
                                <ion-icon name="trash-outline"></ion-icon>
                            </div>
                            <div class="button is-small is-danger">
                                <ion-icon name="lock-closed-outline"></ion-icon>
                            </div>
                        </div>

                    </div>


                    <div class="user-card">
                        <h3>User</h3>
                        <img src="{% static 'uploads/avatartest2.png' %}" alt="">
                        <div class="p"></div>
                    </div>
                    <div class="user-card">
                        <h3>User</h3>
                        <img src="{% static 'uploads/avatartest2.png' %}" alt="">
                        <div class="p"></div>
                    </div>
                    <div class="user-card">
                        <h3>User</h3>
                        <img src="{% static 'uploads/avatartest2.png' %}" alt="">
                        <div class="p"></div>
                    </div>
                    <div class="user-card">
                        <h3>User</h3>
                        <img src="{% static 'uploads/avatartest2.png' %}" alt="">
                        <div class="p"></div>
                    </div>
                    <div class="user-card">
                        <h3>User</h3>
                        <img src="{% static 'uploads/avatartest2.png' %}" alt="">
                        <div class="p"></div>
                    </div>
                    <div class="user-card">
                        <h3>User</h3>
                        <img src="{% static 'uploads/avatartest2.png' %}" alt="">
                        <div class="p"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


